.controller {
    display: flex;
    justify-content: center;
}

.input {
    flex-grow: 6;
}

.words {
    display: flex;
    flex-direction: column;
   flex-grow: 1;
   align-items: center;
}

.words-list-container {
    width: 100%;
    overflow: hidden;
}

.words-list {
    width: 100%;
    filter: blur(5px);
    min-height: 300px;
}

.words-list:focus {
    filter: none;
}


.label {
    font-weight: bold;
    font-size: 6vh;

}
